<%- include ('../partials/navbar'); %>


    <div class="container text-center mt-5">
        <h1 class="display-4">¡Bienvenido a mi Página de Aterrizaje!</h1>
        <p class="lead">Aquí encontrarás información interesante sobre nuestro producto o servicio.</p>
        <a href="#" class="btn btn-primary btn-lg">Ver más</a>
    </div>

    <!-- Scripts de Bootstrap 5 (opcional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>


    <%- include ('../partials/footer'); %>
